## Movie Ratings
### By Kimesha Josephs

Assignment:

1. Load the ratings by user information that you collected into a pandas dataframe.
2. Show the average ratings for each user and each movie.
3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average
ratings for each user and each movie.
4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using
normalized ratings instead of the actual ratings.
5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user.
Once again, show the average ratings for each user and each movie.

Firts we import Pandas and teh file we will be working with.

In [1]:
import pandas as pd
import numpy as np

movie = pd.read_csv('/Users/kimeshajosephs/Documents/GitHub/Week7_Assignment/Movie_Rating.csv', index_col = 0)  
movie

,Black Panther,Coco,Maze Runner,Wonder Woman,Tomb Raider,Thor:Ragnarok
Marcia,4.0,3.5,NaN,3.0,4.0,2.0
jenai,5.0,NaN,NaN,5.0,3.0,3.5
Steve,NaN,NaN,5.0,4.5,NaN,4.0
Marsha,NaN,NaN,4.0,5.0,NaN,NaN
Kimesha,5.0,2.0,NaN,4.0,5.0,4.0

In [4]:
## Clean the data by filling NaN values with 0

clean = movie.fillna(0.0)
clean

,Black Panther,Coco,Maze Runner,Wonder Woman,Tomb Raider,Thor:Ragnarok
Marcia,4.0,3.5,0.0,3.0,4.0,2.0
jenai,5.0,0.0,0.0,5.0,3.0,3.5
Steve,0.0,0.0,5.0,4.5,0.0,4.0
Marsha,0.0,0.0,4.0,5.0,0.0,0.0
Kimesha,5.0,2.0,0.0,4.0,5.0,4.0

In [6]:
movie_ratings = clean
movie_ratings

,Black Panther,Coco,Maze Runner,Wonder Woman,Tomb Raider,Thor:Ragnarok
Marcia,4.0,3.5,0.0,3.0,4.0,2.0
jenai,5.0,0.0,0.0,5.0,3.0,3.5
Steve,0.0,0.0,5.0,4.5,0.0,4.0
Marsha,0.0,0.0,4.0,5.0,0.0,0.0
Kimesha,5.0,2.0,0.0,4.0,5.0,4.0

Average ratings by user

In [9]:
movie_ratings.mean(axis = 1).round(2)

Marcia     2.75
jenai      2.75
Steve      2.25
Marsha     1.50
Kimesha    3.33
dtype: float64

In [ ]:
Average user ratings by movie

In [11]:
movie_ratings.mean(axis = 0)

Black Panther    2.8
Coco             1.1
Maze Runner      1.8
Wonder Woman     4.3
Tomb Raider      2.4
Thor:Ragnarok    2.7
dtype: float64

## Data Normalization

In [17]:
normalized_data = (movie_ratings - movie_ratings.min())/ (movie_ratings.max()- movie_ratings.min())
normalized_data

,Black Panther,Coco,Maze Runner,Wonder Woman,Tomb Raider,Thor:Ragnarok
Marcia,0.8,1.000000,0.0,0.00,0.8,0.500
jenai,1.0,0.000000,0.0,1.00,0.6,0.875
Steve,0.0,0.000000,1.0,0.75,0.0,1.000
Marsha,0.0,0.000000,0.8,1.00,0.0,0.000
Kimesha,1.0,0.571429,0.0,0.50,1.0,1.000

Average ratings by user using normalized data

In [18]:
normalized_data.mean(axis = 1).round(2)

Marcia     0.52
jenai      0.58
Steve      0.46
Marsha     0.30
Kimesha    0.68
dtype: float64

Average user ratings by movie using normalized data

In [19]:
normalized_data.mean(axis = 0).round(2)

Black Panther    0.56
Coco             0.31
Maze Runner      0.36
Wonder Woman     0.65
Tomb Raider      0.48
Thor:Ragnarok    0.68
dtype: float64